
<form action="{% url contacts-upload %}" method="post" enctype="multipart/form-data" id="contacts-upload-form">
    {% csrf_token %}
    <p>{{ form.non_field_errors }}</p>
    <p>{{ form.contacts_filepath.label_tag }} {{ form.contacts_filepath.help_text }}</p>
    <p>
        {{ form.contacts_filepath.errors }}
        {{ form.contacts_filepath }}
    </p>
    <input type="hidden" name="gid" value="{{ form.gid.value }}" id="id_gid" >
    <p><input type="submit" value="Upload" id="contact-upload-submit" /></p>
</form>

    <script> 
        // wait for the DOM to be loaded 
        $(document).ready(function() { 
            // bind 'myForm' and provide a simple callback function 
            $('#contacts-upload-form').ajaxForm(function() { 
                alert("Thank you for your comment!"); 
                
    $("#contacts-upload-submit").live('click', function (e){
 
            e.preventDefault();
            var form = $("#contacts-upload-form");
            var post_url = $(form).attr('action');
            var content = $("#content");
 
            $.ajax({
                url: post_url,
                type: 'POST',
                data: $(form).serialize(),
                dataType: 'json',
                success: function (resp){
                    $(content).html(resp.html);
                }
            });
    });
            }); 
        }); 
    </script>