<h3 class="sub-header">My groups</h3>

<ul class="ml0">
{% for group in groups %}
<li class="group-detail">
    <p><strong>Name:</strong> {{ group.name }}</p>
    <p><strong>Description:</strong> {{ group.description }}</p>
    <p><a href="#" class="btn btn-small" >Update Contacts</a></p>
</li>
{% endfor %}
</ul>