<h2 class="sub-header">Create Group</h2>
<form id="create-group-form" class="well" action={% url create-group %} method="POST">
    {% csrf_token %}
    {{ form.as_table }}
    <br/>
    <input type="submit" class="btn btn-primary" id="create-group-submit">
</form>

