{% extends "base.html" %}

{% block content %}
<div class="login-form" id="loginForm">

  <h3>Login</h3>
  <div>
    <form action="." method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="hidden" name="next" value="/" />
      <div class="tm10">
        <button type="submit" class="btn btn-success btn-large">Login</button>
      </div>
      <div class="tm10">
        <a href="{% url signup %}">Signup</a>&nbsp;|
      </div>
    </form>
  </div>
</div>
    
{% endblock %}
