{% extends "base.html" %}

{% block content %}
	
	  <form id="signupFormActual" action="." method="POST">
		{% csrf_token %}
		{{ form.as_p }}
		<div class="tm10">
		  <button type="submit" class="btn btn-success btn-large">Signup</button>
		</div>
		<div class="tm10">
		  <a href="{% url auth_login %}">Already have an account?</a>
		</div>
	  </form>
  
{% endblock %}