body{
    background: url('../images/noise.png');
}

.hm20{
	margin-top: 20px;
	margin-bottom: 20px;
}

.tm10{
	margin-top: 10px;
}

.ml0{
	margin-left: 0px;
}

.header{
    background-color: #0A90DC;
    height: 100px;
    border: 1px solid #B9C6E4;
    border-radius: 5px;
    text-align: center;
    color: white;
    padding: 20px;
}

.sub-header{
    height: 32px;
    line-height: 32px;
    text-transform: uppercase;
    width: 300px;
    border: 0;
    font-size:18px;
}

#content{
    border: 1px solid #B9C6E4;
    background-color: white;
    min-height: 450px;
    height: auto;
    border-radius: 5px;
    margin-top:20px;
    padding: 20px;
}

.group-detail{
	list-style: none;
    margin: 20px auto;
    padding: 10px;
    background: whiteSmoke;
    border: 1px solid #CCC;
    border-radius: 5px;
    line-height:24px;
}