<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/styles.css"/>
    <script type="text/javascript" src="{{ STATIC_URL }}javascript/jquery.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascript/common.js"></script>

  </head>
  <body>
    <div class="container tm20">
        <div class="header">
            <h1>Mass Emailer</h1>
        </div>
        <div class="menu-bar">
	        {% block menu-bar %}{% endblock %}
	    </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div><!-- container -->
  </body>
</html>

