{% extends "base.html" %}

{% block menu-bar %}

	<div class="navbar">
	  <div class="navbar-inner">
	    <a class="brand" href="{% url home %}">Home</a>
	    <ul class="nav">
	      <li class="dropdown">
			    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
			     Contract
			    </a>
			  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
			    <li><a href="#" id="create-contract">Create Contract</a></li>
			    <li><a href="#" id="update-contract">Update Contract</a></li>
			  </ul>
		  </li>
	      <li class="dropdown">
	      	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
	      	Group 
	      	</a>
			  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
			    <li><a href="#" id="create-group">Create Group</a></li>
			  </ul>
	      </li>
	      <li><a href="{% url logout %}" > Logout </a></li>
	    </ul>
	  </div>
	</div>

{% endblock %}

{% block content %}

    <p> Home page content comes here.</p>
    
{% endblock %}